body{
    font-family: 'Special Elite', cursive; 
    background: white;
}
.headerdiv{
    background: rgb(255, 255, 255);
    color: red;
}
.headerdiv p{
    font-family:'Shalimar', cursive ;
    color: rgb(0, 19, 190);
    letter-spacing: 3px;
    font-size: 19px;
    font-weight:bold;
}
.maindiv button{
    font-family:'Special Elite',serif ;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copyrightfooter{
    position: fixed;
    color: rgb(12, 212, 55);
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background: snow;
    text-align: center;
    text-shadow:5px 5px 5px rgba(88, 83, 83, 0.952);
}
